@{
    ViewBag.Title = "SpatialInformationQuery";
}

<link rel="stylesheet" href="~/js_api_3.9/dojo/dijit/themes/claro/claro.css">
<link rel="stylesheet" href="~/js_api_3.9/dojo/dojox/grid/resources/Grid.css">
<link rel="stylesheet" href="~/js_api_3.9/dojo/dojox/grid/resources/claroGrid.css" />
<link rel="stylesheet" href="~/js_api_3.9/esri/css/esri.css">

<script src="~/js_api_3.9/init.js"></script>
<script type="text/javascript" src="~/mapjs/spatialQuery.js"></script>
<style>
    #titlePane {
        width: 240px;
    }
    .claro .dijitTitlePaneTitle {
        background: #808775;
        font-weight: 600;
        border: solid 1px #29201A;
    }

    .claro .dijitTitlePaneTitleHover {
        background: #808775;
    }

    .claro .dijitTitlePaneTitleActive {
        background: #808775;
    }

    .claro .dijitTitlePaneContentOuter {
        border-right: solid 2px #808775 !important;
        border-bottom: solid 2px #808775 !important;
        border-left: solid 2px #808775 !important;
    }
    #grid { /*This div positions the results table */
        border: 1px solid #333;
        width: 305px;
        height: 443px;
        background-color: Transparent;
        position: absolute;
        left: 230px;
        top: 180px;
    }

    #buttonbox { /*This div positions the buttons */
        position: absolute;
        left: 230px;
        top: 110px;
    }

    #box { /*This div positions the results box */
        border: 1px solid #333;
        width: 305px;
        position: absolute;
        left: 230px;
        top: 145px;
    }

    #mapbox { /*This div positions the map on the page */
        position: absolute;
        left: 545px;
        top: 110px;
    }

    #info {
        position: absolute;
        left: 230px;
        top: 300px;
    }

    #legend { /*Provides a simple legend for the population symbols */
        border: 1px solid #333;
        width: 305px;
        position: absolute;
        left: 230px;
        top: 630px;
        font-size: 0.9em;
        font-family: Geneva, Arial, Helvetica, sans-serif;
    }

    .details {
        font-weight: bold;
    } 
   
</style>
<section class="content-header">
    <h1>
        巡检计划
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i>首页</a></li>
        <li>电力巡检业务</li>
        <li class="active">巡检线路设置</li>
    </ol>
    <hr style="margin:15px 0px 0px 0px;height:1px;border:0px;background-color:#D5D5D5;color:#D5D5D5;" />
</section>


<section class="claro">

    <div id="buttonbox">

        <button data-dojo-type="dijit/form/Button">区域选择</button>
        <button data-dojo-type="dijit/form/Button">删除选择结果</button>
    </div>

    <div id="box">
        <div>查询数量：<span id="numberOfBlocks">0</span></div>
    </div>

    <div id="mapbox">
        <div id="map" style="width:950px; height:560px; border:2px solid #000;" class="tundra">
           

        </div>
    </div>

    <div id="grid" data-dojo-type="dojox/grid/DataGrid" data-dojo-id="gridWidget"></div>

    
</section>
