@{
    ViewBag.Title = "添加部门";
}
<!-- jQuery 3 -->
@*<script src="/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>*@
@*<script src="~/wwwroot/lib/jquery/dist/jquery.min.js"></script>*@
<script src="~/wwwroot/lib/jquery/dist/jquery.js"></script>
<!-- Bootstrap 3.3.7 -->
@*<script src="/AdminLTE-2.4.2/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
@*<script src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
<script src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.js"></script>
@*<link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<!-- bootstrap datepicker -->
<script src="/AdminLTE-2.4.2/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<section class="content-header">
    <h1>
      系统管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i>首页</a></li>
        <li>系统管理</li>
    
        <li class="active">添加部门</li>
    </ol>
    <hr style="margin:15px 0px 0px 0px;height:1px;border:0px;background-color:#D5D5D5;color:#D5D5D5;" />
</section>

<section class="container body-content">
    <form role="form" method="post" action="/SystemManagement/AddDepartment" class="form-horizontal col-lg-12">
        <div class="box-body">
            <div class="form-group">
                <label for="exampleInputEmail1">部门编号</label><br />
                <input class="input-group col-lg-10" id="Number" name="Number">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">部门名称</label><br />
                <input class="input-group col-lg-10" id="Name" name="Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">公司设置</label><br />
                @Html.Action("SetCompany", "Select")
            </div>


        </div>
        <!-- /.box-body -->
        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-check"></i>确定</button>
        <a href="DepartmentList" class="btn btn-default btn-lg"><i class="fa fa-close"></i>返回</a>
    </form>
</section>

