@model EPS.UI.Portal.Models.DateRangeModel

<div class="input-group-addon">
    <i class="fa fa-calendar"></i>
</div>
<input type="text" class="form-control pull-right datepicker" data-date-format="yyyy-mm-dd" id="dateSelection" name="Date">

<script>
    $(function () {
        //Date picker
        @{
            var startDate = DateTime.Now.ToString("yyyy-MM-dd");
            if (Model != null)
            {
                startDate = Model.StartDate;
            }
        }
        //$('.datepicker').datepicker('setDate', new Date());
        $('.datepicker').datepicker({
            //format: 'yyyy-mm-dd',
            startDate: '@startDate'
        });
    })
</script>