<section class="content-header">
    <h1>
        BaiduMap
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i>首页</a></li>
        <li>农业业务</li>
        <li><a href="SchemeList">农业大数据分析</a></li>
        <li class="active">百度地图展示</li>
    </ol>
    <hr style="margin:15px 0px 0px 0px;height:1px;border:0px;background-color:#D5D5D5;color:#D5D5D5;" />
</section>

<section class="content" style="background-color:#ffffff">
    <div class="ibox float-e-margins">

        <div id="map-wrap" style="height: 700px;">
            <!-- 这里以后是地图 -->
        </div>

    </div>
</section>
<script src="~/wwwroot/js/echarts.min.js"></script>
<script src="http://api.map.baidu.com/getscript?v=2.0&ak=OlzCQ3hYT6raZYRMEpYWpoxyxy3tOYbC&services=&t=20180529182003"></script>
<script src="~/wwwroot/js/bmap.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script>
    $(function () {
        // 初始化echarts示例mapChart
        var mapChart = echarts.init(document.getElementById('map-wrap'));

        var myData = [
            { name: '北京', value: [116.46, 39.92, 340] },
            { name: '海门', value: [121.15, 31.89, 90] },
            { name: '鄂尔多斯', value: [109.781327, 39.608266, 120] },
            { name: '招远', value: [120.38, 37.35, 142] },
            { name: '舟山', value: [122.207216, 29.985295, 123] }
        ]

        // mapChart的配置
        var option = {
            bmap: {
                center: [116.307698, 40.056975], // 中心位置坐标
                zoom: 5, // 地图缩放比例
                roam: true, // 开启用户缩放
                mapStyle: {  // 百度地图自定义样式
                    styleJson: [
                        // 陆地
                        {
                            "featureType": "land",
                            "elementType": "all",
                            "stylers": {
                                "color": "#073763"
                            }
                        },
                        // 水系
                        {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": {
                                "color": "#073763",
                                "lightness": -54
                            }
                        },
                        // 国道与高速
                        {
                            "featureType": "highway",
                            "elementType": "all",
                            "stylers": {
                                "color": "#45818e"
                            }
                        },
                        // 边界线
                        {
                            "featureType": "boundary",
                            "elementType": "all",
                            "stylers": {
                                "color": "#ffffff",
                                "lightness": -62,
                                "visibility": "on"
                            }
                        },
                        // 行政标注
                        {
                            "featureType": "label",
                            "elementType": "labels.text.fill",
                            "stylers": {
                                "color": "#ffffff",
                                "visibility": "on"
                            }
                        },
                        {
                            "featureType": "label",
                            "elementType": "labels.text.stroke",
                            "stylers": {
                                "color": "#444444",
                                "visibility": "on"
                            }
                        }
                    ]
                }
            },
            visualMap: {	// 视觉映射组件
                type: 'continuous',
                min: 0,
                max: 200,
                calculable: true,
                inRange: {
                    color: ['#50a3ba', '#eac736', '#d94e5d']
                },
                textStyle: {
                    color: '#fff'
                }
            },
            series: [
                {
                    name: '销量',
                    type: 'scatter',

                    coordinateSystem: 'bmap', // 坐标系使用bmap

                    data: myData
                }
            ],

        }

        mapChart.setOption(option);

        var bmap = mapChart.getModel().getComponent('bmap').getBMap(); // 百度地图实例
        bmap.addControl(new BMap.NavigationControl()); // 缩放控件
        bmap.addControl(new BMap.ScaleControl()); // 比例尺
    })
</script>