@using EPS.UI.Portal.Models
@{
    ViewBag.Title = "ChartDemo2";
    List<StatisticModel> patrolPointStatisticList = ViewBag.PatrolPointStatisticList as List<StatisticModel>;
}

<!-- Bootstrap 3.3.7 -->
@*<link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<!-- Font Awesome -->
<link rel="stylesheet" href="~/wwwroot/lib/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="~/AdminLTE-2.4.2/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/AdminLTE-2.4.2/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="/AdminLTE-2.4.2/dist/css/skins/_all-skins.min.css">

<section class="content-header">
    <h1>
        图表demo2
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i>首页</a></li>
        <li>电力巡检业务</li>
        <li><a href="SchemeList">巡检计划</a></li>
        <li class="active">图表展示</li>
    </ol>
    <hr style="margin:15px 0px 0px 0px;height:1px;border:0px;background-color:#D5D5D5;color:#D5D5D5;" />
</section>

<section class="container body-content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Line Chart</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="chart">
                <canvas id="lineChart" style="height: 139px; width: 440px;" width="440" height="139"></canvas>
                <input id="labels" type="hidden" value="@patrolPointStatisticList.Select(u => u.YearMonth).ToArray()" />
                <input id="patrolPointData" type="hidden" value="@patrolPointStatisticList.Select(u => u.Count).ToArray();" />
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>
